//////////////////////////////
// blockquote
// @_blockquote.scss
//////////////////////////////

blockquote {
  margin: $space/2 0 $space;
  color: $gray;
  font-family: $sans;
  font-weight: $sans-bold;
  padding: $space/3 $space;
  font-style: italic;
  max-width: $max-width;
}
