//////////////////////////////
// container
// @_container.scss
//////////////////////////////

.container {
  @extend %wrapper;
  padding: 0 $space;
  position: relative;
  
  @include breakpoint($large) {
    padding: 0;
  }
}
