//////////////////////////////
// figure
// @_figure.scss
//////////////////////////////

figure {
  margin: 0;
  padding: 0;
  line-height: 0;
  position: relative;

  &.image-full {
    margin-bottom: $space/2;

    @include breakpoint($medium) {
      max-width: $max-width;
    }
  }
  &.image-half {
    margin-bottom: $space/2;
    flex: 1 calc(40% - 15px);

    + .content {
      flex:1 60%;
    }
  }

  &.left {
    @include breakpoint($medium) {
      order: 1;
      margin-right: $space/2;

      + .content {
        order: 2;
      }
    }
  }
  &.right {
    @include breakpoint($medium) {
      order: 2;
      margin-left: $space/2;

      + .content {
        order: 1;
      }
    }
  }
}
