//////////////////////////////
// footer
// @_footer.scss
//////////////////////////////

footer {
  display: flex;
  margin-top: $space*2;
  padding:$space*2 $space;
  background-color: $gray-lightest;
  color: $gray;

  .logo {
    @include breakpoint($large) {
      margin-left: -80px;
    }
  }
  .site-slogan {

    @include breakpoint($medium) {
      margin-right: $space/2;
    }
  }
  .container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    @include breakpoint($medium) {
      flex-flow: row wrap;
    }
  }
  .brand {
    display: flex;
    flex: 1 auto;
    @include breakpoint($medium) {
      max-width: 50%;
    }
  }

  .social {
    flex: 1 auto;
    @include breakpoint($medium) {
      max-width: 50%;
    }

    li {
      display: flex;
      align-items: center;
    }
  }
}
