//////////////////////////////
// footer
// @_footer.scss
//////////////////////////////

footer {
  padding:$space*2 $space;
  margin-top: $space*2;
  background-color: $gray-lightest;
  color: $gray;

  .logo {
    @include breakpoint($large) {
      margin-left: -80px;
    }
  }
  .site-slogan {

    @include breakpoint($medium) {
      margin-right: $space-one-half;
    }
  }
}
