//////////////////////////////
// link
// @_link.scss
//////////////////////////////
a,
a:link {
  color: $link;
  text-decoration: none;
  transition: all 0.15s;

  &:visited {
    color: mix(black, $link, 10%);
  }
  &:hover {
    color: mix(black, $link, 60%);
    text-decoration: underline;
  }
}
