//////////////////////////////
// Sponsor
// _sponsor.scss
//////////////////////////////

.sponsor--grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
  + .sponsor--grid {
    margin-top: $space*2;
  }
}

// sponsor headers
.sponsor--header {
  display: block;
  margin-top: $space*2;
  margin-bottom: $space;
  padding: $space;
  text-align: center;
  position: relative;

  h3 {
    color: $gray;
  }

  &.diamond {
    background-color:$blue-muted;
    h3 {
      color: $white;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      background-color: $blue-muted-light;
      width: 100%;
      height: 100%;
      left: -1rem;
      top: -1rem;
      z-index: -1;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      background-color: $blue-muted-lighter;
      width: 100%;
      height: 100%;
      right: -1rem;
      bottom: -1rem;
      z-index: -1;
    }
  }
  &.gold {
    background-color:$blue-muted-light;
  }
  &.silver {
    background-color:$blue-muted-lighter;
  }
  &.bronze {
    background-color:$blue-muted-lightest;
  }
}

// default sizes
.sponsor--item {
  display: flex;
  flex: 1 auto;
  flex-basis: 25%; // default for all levels.
  justify-content: center;
  padding: $space/3;
  @include breakpoint($large) {
    padding: $space;
  }
  .diamond & {
    flex-basis: 33.333%; // change if more than 3 diamond-level sponsors.
  }

  .gold & {
    img {
      max-width: 200px;
    }
  }

  .silver & {
    @include breakpoint($large) {
      flex-basis: 20%;
    }
  }

  .bronze & {
    @include breakpoint($large) {
      flex-basis: 20%;
    }
  }
}
